    <link href="include/admin/templates/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="include/admin/templates/bootstrap/css/dashboard.css" rel="stylesheet">
    <link href="include/admin/templates/bootstrap/css/offcanvas.css" rel="stylesheet">
    <link href="include/admin/templates/bootstrap/css/style.css" rel="stylesheet">
    <link href="include/admin/templates/bootstrap/font-awesome/css/font-awesome.css" rel="stylesheet">
<script language="JavaScript" type="text/javascript">
<!--
  function finduser () {
    var Fenster = window.open ('index.php?search-finduser', 'finduser', 'status=no,scrollbars=yes,height=200,width=350');
    Fenster.focus();
  }
//-->
</script>
<form name="form" action="admin.php?forum-choosemods" method="POST" class="form-inline" role="form">
<input type="hidden" name="fid" value="{fid}" />
<legend>Moderatoren festlegen</legend>
<input name="name" class="form-control" placeholder="Name">
<div class="btn-group">
<input type="submit" value="Add" name="s" class="btn btn-primary"> 
<input type="button" value="Find" onClick="finduser()" class="btn btn-success">
</div>
</form>
<br>
<table class="table table-bordered">
  <tr class="active"><td colspan="2" style="color:#2f2f2f;"><strong>Moderatoren verwalten</strong></td></tr>
{EXPLODE}<tr>
     <td>{name}</td><td><a href="admin.php?forum-choosemods-d{uid}&fid={fid}" rel="tooltip" title="Moderator l&ouml;schen"><i style="color:#AD0000;"class="fa fa-times"></i></a></td>
   </tr>{EXPLODE}
</table>
